<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css"
              href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </div>
    <style>
        #overlay {
            z-index:3;
            position:fixed;
            background-color:#000;
            opacity:0.8;
            -moz-opacity:0.8;
            filter:alpha(opacity=80);
            width:100%;
            height:100%;
            top:0;
            left:0;
            cursor:pointer;
            display:none;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse">

        <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
            <a class="w3-bar-item w3-button w3-medium"
               id="closeNav">закрити &times;</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/customer}">Добавити клієнта</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/clients}">Знайти клієнта</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/appointment}">Створити зустріч(XXX)</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/calendar}">Календар(X)</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/asdasd}">Список записів(XXX)</a>
            <a class="w3-bar-item w3-button w3-medium" th:href="@{/admin/editpage}">Рудагування сторінки(XXX)</a>
        </div>

        <div class="w3-overlay" style="cursor:pointer"></div>

        <div class="w3-overlay w3-animate-opacity" style="cursor:pointer" id="myOverlay"></div>


        <div class="container">
            <!--Notification result will be here-->
                <div id="notificationresult"></div>
            <!--Side menu bar-->
            <ul class="nav navbar-nav navbar-left">
                <li><a class="style-scope ytd-notification-topbar-button-renderer"></a></li>
                <a id="openNav" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </ul>
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/international}">Users site</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/admin}">Main admin page</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <!--clients to inform-->
                    <button id="clientsToInform" type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>

                </ul>

                <!--counter if clients to inform present-->
                <ul class="nav navbar-nav navbar-right">
                    <li><span class="style-scope ytd-notification-topbar-button-renderer"></span></li>
                    <span class="badge badge-notify" id="notification"
                          style="background: red; position:absolute;"></span>
                </ul>
            </div>
        </div>
    </nav>

    <!--make shadow window-->
    <div th:id="overlay"></div>

</div>
</body>
</html>
