<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Main</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1>Stomat CRM System</h1>
        <h2>1. Visit <a th:href="@{/admin/customer}">Додавання нового клієнта / видалення існуючого.</a></h2>
        <h2>2. Visit <a th:href="@{/admin/clients}">Пошук по клієнтам.</a></h2>
        <h2>4. Visit <a th:href="@{/admin/calendar}">Календар</a></h2>
        <h2>5. Visit <a th:href="@{/admin/statistic}">Статистика</a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
