<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Catalog</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security + Hibernate</h1>
        <h2>1. Visit <a th:href="@{/admin/customer}">Додавання нового клієнта / видалення існуючого.</a></h2>
        <h2>2. Visit <a th:href="@{/admin/clients}">Пошук по клієнтам.</a></h2>
        <h2>3. Visit <a th:href="@{/admin/appointment}">Створити запис(NOT WORIKING)</a></h2>
        <h2>4. Visit <a th:href="@{/admin/reader}">Планування календару.(NOT WORIKING)</a></h2>
        <h2>5. Visit <a th:href="@{/admin/reader}">Список записів.(NOT WORIKING)</a></h2>
        <h2>6. Visit <a th:href="@{/admin/editpage}">Редагування сторінки(NOT WORIKING)</a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="../js/adminView.js"></script>
</body>
</html>
