<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-css"></div>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8"/>
    <link rel='stylesheet' href='../../webjars/fullcalendar/3.5.1/dist/fullcalendar.min.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src='../../webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='../../webjars/fullcalendar/3.5.1/dist/fullcalendar.min.js'></script>
    <script src='../../webjars/fullcalendar/3.5.1/dist/locale/uk.js'></script>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>
<div id='calendar' style="width: 93%; height: 100%; margin-left: 30px;"></div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" src="../js/calendar.js"></script>
</body>
</html>