<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <style>
        #overlay {
            z-index:3;
            position:fixed;
            background-color:#000;
            opacity:0.8;
            -moz-opacity:0.8;
            filter:alpha(opacity=80);
            width:100%;
            height:100%;
            top:0;
            left:0;
            cursor:pointer;
            display:none;
        }
    </style>
</head>
<body>
<div class="modal modal-warning fade in" th:id="modal-warning" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="modal_close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Клієнти яким потрібно повідомити про огляд</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="3%"></th>
                        <th scope="col" style="display:none;"></th>
                        <th scope="col">Імя</th>
                        <th scope="col">Останній</th>
                        <th scope="col">Телефон</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client, rowStat: ${clients}">
                        <td><a class="btn btn-primary center-block btn-sm" th:href="'/admin/client?id=' + ${client.clientId}"
                               th:text="Профіль"></a></td>
                        <td th:text="${client.clientId}" id="id" class="id" style="display:none;"></td>
                        <td th:text="${client.secondName} + ' ' + ${client.firstName} + ' ' + ${client.thirdName}"></td>
                        <td th:text="${#dates.format(client.appointments[0].dateFrom, 'dd.MM.yyyy')}"></td>
                        <td th:text="${client.phone}"></td>
                        <td ><a id="deleteFromInform"><img src="../images/remove-icon.png" /></a>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</body>
</html>