<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <!--?<script type="text/javascript"-->
            <!--?src="../webjars/jquery/2.2.4/jquery.min.js"></script>-->
    <!--?<link href="/examples/vendors/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Bootstrap DateTimePicker -->
    <link href="../webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Створення нового запису: </h1>
        <div id="result"></div>
        <div id="profile"></div>

        <form class="form-horizontal" id="addappointment-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Назва</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" style="margin-top: 15px;"/>
                </div>

                <label class="col-sm-2 control-label">Клієнт</label>
                <div class="col-sm-10">
                    <input th:if="${client == null}" type="text" class="form-control" id="client" style="margin-top: 15px;"/>
                    <h4 style="margin-top: 20px;"><strong th:if="${client != null}" th:text="${client.secondName} + ' ' + ${client.firstName}" ></strong></h4>

                </div>

                <!--TODO розібратися з цим-->
                <label class="col-sm-2 control-label">Опис</label>
                <div class="col-sm-10">
                    <input type="text" id="name" style="margin-top: 15px; height: 150px; width: 700px;"/>
                </div>

                <label class="col-sm-2 control-label">Дата і час</label>
                <div class="col-sm-4">
                    <!--?TODO fix css-->
                        <div class='input-group date' id='datetimepicker3'>
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"
                                   style="margin-top: 15px;">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </input>
                        </div>

                </div>


            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-add"
                            class="btn btn-primary btn-lg">Добавити
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>


<script>
    $(function () {
        $('#datetimepicker3').datetimepicker({locale: 'uk'});
        $("#setMinDate").click(function () {
            $('#datetimepicker3').data("DateTimePicker").minDate(moment('05.11.2017','DD.MM.YYYY'));
        });
    });
</script>

<script src="../resources/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../webjars/momentjs/2.22.2/min/moment-with-locales.min.js"></script>
<script src="../webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>
