<div>
    <div class="form-group form-group-lg">
        <a href="javascript:void(0);" class="remove_button"><img src="../remove-icon.png"></a>
        <label class="col-sm-2 control-label">Назва</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="procedureName" style="margin-top: 15px;"/>
        </div>

        <!--?<div class="slidecontainer">-->
            <!--?<input type="range" min="1" max="100" value="50" class="slider" id="myRange">-->
        <!--?</div>-->
        <label class="col-sm-2 control-label">Вартість</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="procedurePrice" style="margin-top: 15px;"/>
        </div>

    </div>
</div>



