<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <!--?<!-- Bootstrap DateTimePicker -->
    <link href="../webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <link href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Створення нового клієнта: </h1>
        <div id="result"></div>
        <div id="profile"></div>

            <form class="form-horizontal" id="addclient-form">
                <div class="form-group form-group-lg">
                    <label class="col-sm-2 control-label">Прізвище</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secondName" style="margin-top: 15px;"/>
                    </div>
                    <label class="col-sm-2 control-label">Ім'я</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" style="margin-top: 15px;"/>
                    </div>
                    <label class="col-sm-2 control-label">По-батькові</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="thirdName" style="margin-top: 15px;"/>
                    </div>
                    <label class="col-sm-2 control-label">Емейл</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" style="margin-top: 15px;"/>
                    </div>
                    <label class="col-sm-2 control-label">Телефон</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" style="margin-top: 15px;"/>
                    </div>
                    <label class="col-sm-2 control-label" for="Дата народження" style="margin-top: 15px;">Date</label>

                    <div class="col-sm-4" style="margin-top: 15px; margin-left: 15px;">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" id="date" />
                    <span class="input-group-addon" >
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5" style="margin-top: 15px;">
                        <select id="ddlViewBy" class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            <option value="male">чоловіча</option>
                            <option value="female">жіноча</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="bth-add"
                                class="btn btn-primary btn-lg">Добавити
                        </button>
                    </div>
                </div>
            </form>
            <div>
            </div>

    </div>
</div>
<script type="text/javascript"
        src="../webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../js/customerView.js"></script>
<!--?<script src="../resources/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="../webjars/momentjs/2.22.2/min/moment-with-locales.min.js"></script>
<script src="../webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
