<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Catalog</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security + Hibernate</h1>
        <h2>1. Visit <a th:href="@{/customer}">Додавання нового клієнта / видалення існуючого.</a></h2>
        <h2>2. Visit <a th:href="@{/clients}">Пошук по клієнтам.</a></h2>
        <h2>3. Visit <a th:href="@{/appointment}">Створити запис</a></h2>
        <h2>4. Visit <a th:href="@{/reader}">Планування календару.</a></h2>
        <h2>5. Visit <a th:href="@{/reader}">Список записів.</a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
