<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="../static/css/well.css" th:href="@{/css/well.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="well profile appointment">

        <div id="procedure-templates" style="display: none;">
            <div class="col-sm-6 procedure-item procedure-item-new">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title editable-item" contenteditable="true" data-name="title">
                            Title</h5>
                        <p class="card-price editable-item" contenteditable="true" data-name="price">
                            Price</p>
                        <p class="card-text editable-item" contenteditable="true" data-name="description">
                            Description</p>
                        <div class="card-buttons">
                            <a href="#" class="btn btn-primary btn-save">Save</a>
                            <a href="#" class="btn btn-danger btn-remove">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="appointment-header">
            <h2 th:text="${appointment.name}"></h2>
            <ul class="appointment-info">
                <li>
                    <strong>Повне ім'я: </strong> <span
                        th:text="${appointment.client.secondName} + ' ' + ${appointment.client.firstName} + ' ' + ${appointment.client.thirdName}"></span>
                </li>
                <li>
                    <strong>Опис: </strong> <span th:text="${appointment.description}"></span>
                </li>
                <li>
                    <strong>Дата / час: </strong> <span
                        th:text="${#dates.format(appointment.dateFrom, 'dd-MM-yyyy HH:mm')} + ' по '+  ${#dates.format(appointment.dateTo, 'dd-MM-yyyy HH:mm')}"></span>
                </li>
            </ul>
            <a href="#" class="btn btn-primary btn-add">Добавити</a>
        </div>

        <div class="procedures-list">
            <div class="row">
                <div class="col-sm-6 procedure-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title editable-item" data-name="title" th:if="${#lists.size(appointment.procedures) >= 1}" th:text="${appointment.procedures.get(0).name}"></h5>
                            <p class="card-price editable-item" data-name="price" th:if="${#lists.size(appointment.procedures) >= 1}" th:text="${appointment.procedures.get(0).price}"></p>
                            <p class="card-text editable-item" data-name="description" th:if="${#lists.size(appointment.procedures) >= 1}" th:text="${appointment.procedures.get(0).description}"></p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn-primary btn-save">Зберегти</a>
                                <a href="#" class="btn btn-danger btn-remove">Видалити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript"
        src="../webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="../js/singleClientView.js"></script>

<script type="text/javascript" src="../js/singleappointment.js"></script>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
