<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="../static/css/well.css" th:href="@{/css/well.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <script src="/js/statistic/m-morris-init.js"></script>
    <script src="/js/statistic/raphael-min.js"></script>
    <script src="/js/statistic/morris.js"></script>
    <script src="/js/statistic/morris.js"></script>


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="stat-content">
                        <div class="stat-text">Клієнтів</div>
                        <div class="stat-digit"><i class="fa fa-usd"></i><span th:text="${totalClients}"></span></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="stat-content">
                        <div class="stat-text">Відвідувань</div>
                        <div class="stat-digit"><i class="fa fa-usd"></i><span th:text="${totalAppointments}"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="stat-content">
                        <div class="stat-text">Процедур</div>
                        <div class="stat-digit"><i class="fa fa-usd"></i> <span th:text="${totalProcedures}"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-two">
                    <div class="stat-content">
                        <div class="stat-text">Сьогодні зароблено</div>
                        <div class="stat-digit"><i class="fa fa-usd"></i><span th:text="${todayEarn}"></span></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
        <!-- /# column -->
    </div>


    <div class="row">
        <!-- column -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Відвідувань за місяць</h4>
                    <div id="morris-bar-chart"></div>
                    <!--                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>-->
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Прибуток за тиждень</h4>
                    <div id="morris-line-chart"></div>

                    <!--                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>-->
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Процедури</h4>
                    <div id="morris-donut-chart"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Процедури</h4>
                    <div id="extra-area-chart"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Процедури</h4>
                    <div id="morris-area-chart"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Процедури</h4>
                    <div id="morris-area-chart2"></div>
                </div>
            </div>
        </div>

        <!-- column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Нові клієнти з:</h4>
                    <div id="morris-donut-chart-info"></div>
                </div>
            </div>
<!--            <div class="card text-center">-->
<!--                <div class="m-t-10">-->
<!--                    <p>Стать відвідувачів</p>-->
<!--                    <h5>453</h5>-->
<!--                </div>-->
<!--                <div class="widget-card-circle pr m-t-20 m-b-20" id="info-circle-card">-->
<!--                </div>-->
<!--                <ul class="widget-line-list m-b-15">-->
<!--                    <li class="border-right">65% <br><span class="color-success"> Чоловік</span>-->
<!--                    </li>-->
<!--                    <li>35% <br><span class="color-danger">Жінка</span></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

    </div>
</div>

<script src="/js/statistic/circle-progress.min.js"></script>
<script src="/js/statistic/circle-progress-init.js"></script>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
